.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    overflow: hidden;
    padding-top: 2rem;
    @apply bg-primary-200 rounded-lg;
}

.rating {
    box-shadow: inset 0 10px 30px 30px blue-100;
}

.imageWrapper {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
}
