.modal {
    /* overflow-y: scroll; */
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s ease-in;
    z-index: 100;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}

.content {
    padding: 20px;
    max-height: 100vh;
    background-color: white;
    border-radius: 10px;
    @apply w-10/12 sm:w-9/12 md:w-7/12 lg:w-1/2 xl:w-5/12;
}

@media (max-height: 650px) {
    .content {
        overflow-y: scroll;
    }
}
