$offset: 60px;

.layout {
    padding: 0 200px 0 200px;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $offset;
    background-color: white;
}

.body {
    margin-top: $offset;
}
