$offset: 60px;

.layout {
    padding: 0 200px 0 200px;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $offset;
    background-color: rgb(235, 235, 235);
}

.body {
    margin-top: $offset;
    height: calc(100vh - $offset);
}
