$offset: 60px;

.layout {
    box-sizing: border-box;
    @apply px-4 sm:px-24 md:px-28 lg:px-40 xl:px-48;
}

.header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: $offset;
    background-color: white;
}

.body {
    z-index: 0;
    margin-top: $offset;
    padding-bottom: 80px;
}
